@use "../../styles/globals/variables" as v;
@use "../../styles/globals/mixins" as m;

.logos-carousel {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  gap: var(--sp-md);
  background-color: rgba(var(--secondary));
  background-image: radial-gradient(
    farthest-corner circle at 35% 180%,
    rgba(var(--secondary-dark), 0.5) 25%,
    rgba(var(--secondary-light)) 45%
  );

  $parent: &;

  &.dark {
    background-color: rgba(var(--primary-dark));
    background-image: radial-gradient(
      farthest-corner circle at 35% 180%,
      rgba(var(--tertiary), 0.35) 25%,
      color-mix(in srgb, rgb(var(--primary-dark)) 80%, #000 20%) 45%
    );

    #{$parent}__title {
      color: rgba(var(--secondary));
    }

    .logo__pic img {
      opacity: 0.4;
      transition: opacity 0.1s linear;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    flex: 1 0 calc(40% - var(--sp-md));
    display: flex;
    align-items: stretch;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__wrapper {
    min-width: 280px;
    padding: var(--sp-xsm) 0;
    @include m.flex-center;
    flex-direction: column;
    flex: 1 0 60%;
    gap: var(--sp-md);

    @media (min-width: v.$ldpi) {
      padding: var(--sp-md) 0;
    }
  }

  &__title {
    @include m.title(rgba(var(--primary-dark)), 4rem, 4vw, 5rem);
  }

  &__carousel {
    width: 100%;
  }

  .logo {
    max-height: 23rem;
    padding: 0 0.5rem;
    display: flex;

    &__link {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      cursor: pointer;

      span {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        font-size: 12px;
      }
    }

    &__pic {
      width: 100%;
      height: 100%;
      padding: 3rem 5rem;
      display: flex;
      border: 1px solid rgba(var(--tertiary), 0.2);

      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: contain;
        object-position: center;
        aspect-ratio: 1/1;
      }
    }

    &.is-active {
      img {
        opacity: 1;

        @media (min-width: v.$tablet) {
          opacity: 0.4;
        }
      }
    }

    &:hover {
      .logo__pic {
        border-color: rgba(var(--tertiary-light));
      }

      img {
        opacity: 1;
      }
    }
  }
}
